.navbar {
    margin: -10px;
  }
  
  .advertisment {
    margin-top: 82px;
  }
  
  .products {
    margin-bottom: 10px;
  }
  
  nav {
    z-index: 999;
    color:#fff;
  }
  
  div.scrollmenu {
    background-color: #dddddd;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
      
  .nav-background {
    background: linear-gradient(90deg, rgb(228, 1, 1) 0%, rgb(253, 140, 140) 35%, rgb(255, 255, 255) 100%);
    /* background-image: url("../img/brigada-cover.png");
    background-size: cover; */
  
    /* Workaround for some mobile browsers 
     min-height: 100%; */
  }

  .order-table{
    margin-top: 100px;
  }